.p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  font-size: 10px;
  text-align: center;
}
.img{
  max-width: 50%;
  border: solid 2px;
  padding: 2px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.ul{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  font-size: 10px;
  text-align: center;
}


